/* Write your CSS here */
.app-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cash-withdraw-container {
  background-color: #150b3e;
  width: 80%;
  border-radius: 15px;
  padding-top: 26px;
  padding-bottom: 8px;
  padding-right: 19px;
  padding-left: 19px;
  max-width: 350px;
}
@media screen and (min-width: 768px) {
  .cash-withdraw-container {
    width: 50%;
    padding-top: 48px;
    padding-bottom: 16px;
    padding-left: 36px;
    padding-right: 38px;
    max-width: 422px;
  }
}
.user-details-container {
  display: flex;
}
.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7d2fe;
  height: 24px;
  width: 24px;
  border-radius: 48px;
}
@media screen and (min-width: 768px) {
  .initial-container {
    height: 64px;
    width: 64px;
    border-radius: 34px;
  }
}
.initial {
  color: #7c3aed;
  font-family: 'Roboto';
  font-size: 14px;
}
.name {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 20px;
    margin-left: 16px;
  }
}
.balance-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.your-balance {
  color: #585076;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .your-balance {
    font-size: 20px;
    margin-top: 8px;
  }
}
.balance {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .balance {
    font-size: 32px;
  }
}
.currency {
  color: #585076;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .currency {
    font-size: 12px;
  }
}

.withdraw {
  font-size: 20px;
  color: #d4d2db;
  font-family: 'Roboto';
  font-weight: 500;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .withdraw {
    font-size: 24px;
    margin-top: 24px;
  }
}
.choose-sum {
  color: #585076;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .choose-sum {
    font-size: 16px;
    margin-bottom: 24px;
  }
}
.denomination-list {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
